streamlit
pandas
numpy
plotly
python-dotenv
bcrypt
reportlab
python-barcode
Pillow
pyzbar
opencv-python-headless
streamlit-webrtc
qrcode
scikit-learn
statsmodels
matplotlib
seaborn
loguru
boto3
prophet
celery
redis
openai
sendgrid
twilio
python-dateutil
openpyxl
SQLAlchemy>=1.4
psycopg2-binary
extra-streamlit-components
